<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div>
    <div class="form-title" th:if="${offer.offerId==null}">Create new service</div>
    <div class="form-title" th:unless="${offer.offerId==null}">Edit service</div>
    <form th:action="@{'/'+${role}+'/operators/'+${operator.operatorId}+'/offer/update'}" th:object="${offer}" method="post">
        <input type="hidden" th:field="*{offerId}" th:value="${offer.offerId}">
        <div>
            <div>
                <label>Name:</label>
                <input type="text" th:field="*{name}" required maxlength="30"
                       title="Enter the employee's name (up to 30 characters)"/>
            </div>
            <div class="gender-switch">
                <div class="radio-group">
                    <label class="radio-label">TV</label>
                    <label>
                        <input type="radio" th:field="*{type}" value="TV" required />
                        <span class="radio-checkmark"></span>
                    </label>
                    <label class="radio-label">Phone subscription</label>
                    <label>
                        <input type="radio" th:field="*{type}" value="abonament telefoniczny" required />
                        <span class="radio-checkmark"></span>
                    </label>
                    <label class="radio-label">Mobile internet</label>
                    <label>
                        <input type="radio" th:field="*{type}" value="internet mobilny" required/>
                        <span class="radio-checkmark"></span>
                    </label>
                    <label class="radio-label">Fibre internet</label>
                    <label>
                        <input type="radio" th:field="*{type}" value="internet swiatlowodowy" required/>
                        <span class="radio-checkmark"></span>
                    </label>
                </div>
            </div>
            <div>
                <label>Date of start</label>
                <label>
                    <input type="date" th:field="*{dateOfStart}" required/>
                </label>
            </div>
            <div>
                <label>Date of end</label>
                <label>
                    <input type="date" th:field="*{dateOfEnd}" required/>
                </label>
            </div>
            <div class="gender-switch">
                <label>Device:</label>
                <div class="radio-group">
                    <label class="radio-label">Yes</label>
                    <label>
                        <input type="radio" th:field="*{device}" value="T" required />
                        <span class="radio-checkmark"></span>
                    </label>
                    <label class="radio-label">No</label>
                    <label>
                        <input type="radio" th:field="*{device}" value="N" required/>
                        <span class="radio-checkmark"></span>
                    </label>
                </div>
            </div>
            <div>
                <label>Value:</label>
                <input type="text" th:field="*{value}" required pattern="^(?!0\d)(\d{1,8}(\.\d{1,2})?)?$"
                       title="Enter a valid positive number with up to 8 digits and 2 decimal places"/>
            </div>
            <input type="hidden" th:field="*{customer}" th:value="${offer.customer}">
<!--            <div th:if="${role=='ADMIN'}">-->
<!--                <label>Customer:-->
<!--                    <select th:field="*{customer}" class="form-control" required>-->
<!--                        <th:block th:each="customer:${customers}">-->
<!--                            <option th:text="${customer.toString()}" th:value="${customer.customerId}"/>-->
<!--                        </th:block>-->
<!--                    </select>-->
<!--                </label>-->
<!--            </div>-->
            <button type="submit" class="button">
                <i class="fas fa-sync"></i> Update
            </button>
        </div>
    </form>
</div>
</body>
</html>