<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit sender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form/sender.css}"/>
    <script type="text/javascript" th:src="@{/js/validation/senderform.js}"></script>
</head>
<body>
<div>
    <div class="form-title" th:if="${sender.senderId==null}">Create new sender</div>
    <div class="form-title" th:unless="${sender.senderId==null}">Edit sender</div>
    <form th:action="@{'/'+${role}+'/operators/'+${operator.operatorId}+'/sender/update'}" th:object="${sender}"
          method="post" id="senderForm">
        <input type="hidden" th:field="*{senderId}" th:value="${sender.senderId}">
        <div>
            <div>
                <label>Location:</label>
                <input type="text" th:field="*{location}" required maxlength="30"
                       placeholder="Enter the location (up to 30 characters)" oninput="validateSenderLocation(this)"/>
            </div>
            <div>
                <label>Height:</label>
                <input type="number" step="0.01" th:field="*{height}" class="form-control" required min="0"
                       pattern="^(?!0\d)(\d{1,8}(\.\d{1,2})?)?$"
                       placeholder="Enter a valid positive number with up to 8 digits and 2 decimal places"
                       oninput="validateSenderHeight(this)"/>
            </div>
            <div>
                <label>Bandwidth:</label>
                <input type="number" step="0.01" th:field="*{bandwidth}" class="form-control" required
                       pattern="^(?!0\d)(\d{1,8}(\.\d{1,2})?)?$" min="0"
                       placeholder="Enter a valid positive number with up to 8 digits and 2 decimal places"
                       oninput="validateSenderBandwidth(this)"/>
            </div>
            <div class="gender-switch">
                <div class="radio-group">
                    <label>Works:</label>
                    <label class="radio-label">Yes</label>
                    <label>
                        <input type="radio" th:field="*{works}" value="T" required/>
                    </label>
                    <label class="radio-label">No</label>
                    <label>
                        <input type="radio" th:field="*{works}" value="N" required/>
                    </label>
                </div>
            </div>
            <div th:if="${role == 'admin'}">
                <div>
                    <label>Operator:</label>
                    <div class="col-sm-8">
                        <select th:field="*{operator}" class="form-control" required>
                            <th:block th:each="operator:${operators}">
                                <option th:text="${operator.name}" th:value="${operator.operatorId}"/>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div>
                    <label>Employee:</label>
                    <div class="col-sm-8">
                        <select th:field="*{employee}" class="form-control">
                            <th:block th:each="employee:${employees}">
                                <option value=""></option>
                                <option th:text="${employee.getFullName()}" th:value="${employee.employeeId}"/>
                            </th:block>
                        </select>
                    </div>
                </div>
            </div>
            <div th:unless="${role=='admin'}">
                <input type="hidden" th:field="*{employee}" th:value="${sender.employee}">
                <input type="hidden" th:field="*{operator}" th:value="${sender.operator}">
            </div>
            <button type="button" class="button" onclick="validateSenderForm()">
                <i class="fas fa-sync"></i> Update
            </button>
        </div>
    </form>
</div>
</body>
</html>