<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operator info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div th:if="${role == 'admin'}">
    <nav class="nav-custom">
        <a th:inline="text">User:
            <b style="text-transform: capitalize">[[${#httpServletRequest.remoteUser}]]</b>
        </a>
        <a th:href="@{/index}">Home</a>
        <a th:href="@{'/'+${role}+'/operators'}">Operators</a>
        <a th:href="@{'/'+${role}+'/departments'}">Departments</a>
        <a th:href="@{'/'+${role}+'/employees'}">Employees</a>
        <a th:href="@{'/'+${role}+'/senders'}">Senders</a>
        <a th:href="@{'/'+${role}+'/customers'}">Customers</a>
        <a th:href="@{'/'+${role}+'/offers'}">Services</a>
        <a th:href="@{/logout}" onclick="submitLogoutForm()">Logout</a>
        <div class="animation start-home"></div>
    </nav>
</div>
<div th:unless="${role == 'admin'}">
    <nav class="nav-custom-2">
        <a th:inline="text">User:
            <b style="text-transform: capitalize">[[${#httpServletRequest.remoteUser}]]</b>
        </a>
        <a th:href="@{/index}">Home</a>
        <a th:href="@{'/'+${role}+'/operators'}">Operators</a>
        <a th:href="@{'/'+${role}+'/departments'}" sec:authorize="hasAuthority('ADMIN')">Departments</a>
        <a th:href="@{'/'+${role}+'/employees'}" sec:authorize="hasAuthority('ADMIN')">Employees</a>
        <a th:href="@{'/'+${role}+'/senders'}" sec:authorize="hasAuthority('ADMIN')">Senders</a>
        <a th:href="@{'/'+${role}+'/customers'}" sec:authorize="hasAuthority('ADMIN')">Customers</a>
        <a th:href="@{'/'+${role}+'/offers'}" sec:authorize="hasAuthority('ADMIN')">Services</a>
        <a th:href="@{/logout}" onclick="submitLogoutForm()">Logout</a>
        <div class="animation start-home"></div>
    </nav>
</div>
>
<div class="container">
    <div><h1>Operator info</h1></div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Type</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ID operator:</td>
            <td th:text="${operator.operatorId}">ID</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td th:text="${operator.name}">Name</td>
        </tr>
        <tr>
            <td>NIP:</td>
            <td th:text="${operator.nipNumber}">NIP</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${operator.email}">Email</td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td th:text="${operator.phoneNumber}">Phone Number</td>
        </tr>
        </tbody>
    </table>
    <div>Departments:</div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr> <!-- Table row -->
            <th>Name</th>
            <th>phoneNumber</th>
            <th>Operator</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${operator.departments}">
            <td th:text="${department.name}">Name</td>
            <td th:text="${department.phoneNumber}">phoneNumber</td>
            <td th:text="${department.operator.toStringShort()}">Operator</td>
        </tr>
        </tbody>
    </table>
    <div>Services:</div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr> <!-- Table row -->
            <th>Name</th>
            <th>Type</th>
            <th>Customer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : ${operator.offers}">
            <td th:text="${offer.name}">Name</td>
            <td th:text="${offer.type}">Type</td>
            <td th:text="${offer.customer.getFullName()}">Customer</td>
        </tr>
        </tbody>
    </table>
    <div>Senders:</div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr> <!-- Table row -->
            <th>Location</th>
            <th>Height</th>
            <th>Works</th>
            <th>Employee</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sender : ${operator.senders}">
            <td th:text="${sender.location}">Location</td>
            <td th:text="${sender.height}">Height</td>
            <td th:text="${sender.works == 'T' ? 'Yes' : 'No'}">Works</td>
            <td th:text="${sender.employee.getFullName()}">Employee</td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <a th:href="@{'/'+${role}+'/operator/edit/'+${operator.operatorId}}" sec:authorize="hasAuthority('ADMIN')"
           class="btn btn-primary"><i class="fa fa-edit"></i>
            Edit</a>
        <a th:href="@{'/'+${role}+'/operator/delete/'+${operator.operatorId}}" sec:authorize="hasAuthority('ADMIN')"
           onclick="return confirm('Are you sure you want to delete operator? This will delete all linked tables');"
           class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
    </div>
</div>
</body>
<footer>
    <th:block th:include="fragments/footer :: footer"></th:block>
</footer>

</html>