<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div>
    <div class="form-title" th:if="${employee.employeeId==null}">Create new employee</div>
    <div class="form-title" th:unless="${employee.employeeId==null}">Edit employee</div>
    <form th:action="@{'/'+${role}+'/employee/update'}" th:object="${employee}" method="post">
        <input type="hidden" th:field="*{employeeId}" th:value="${employee.employeeId}">
        <div>
            <div>
                <label>Name:</label>
                <input type="text" th:field="*{name}" required maxlength="20"
                       title="Enter the employee's name (up to 20 characters)"/>
            </div>
            <div>
                <label>Surname:</label>
                <input type="text" th:field="*{surname}" required maxlength="30"
                       title="Enter the employee's surname (up to 30 characters)"/>
            </div>
            <div class="gender-switch">
                <div class="radio-group">
                    <label class="radio-label">Female</label>
                    <label>
                        <input type="radio" th:field="*{gender}" value="K" required />
                        <span class="radio-checkmark"></span>
                    </label>
                    <label class="radio-label">Male</label>
                    <label>
                        <input type="radio" th:field="*{gender}" value="M" required/>
                        <span class="radio-checkmark"></span>
                    </label>
                </div>
            </div>

            <div>
                <label>PESEL:</label>
                <input type="number" th:field="*{peselNumber}" required pattern=".{11}" maxlength="11"
                       title="Enter the NIP with exactly 10 digits"/>
            </div>
            <div>
                <label>Date of employment</label>
                <label>
                    <input type="date" th:field="*{dateOfEmployment}" required/>
                </label>
            </div>
            <div>
                <label>Date of dismissal</label>
                <label>
                    <input type="date" th:field="*{dateOfDismissal}"/>
                </label>
            </div>
            <div>
                <label>Department:
                    <select th:field="*{department}" class="form-control" required>
                        <th:block th:each="department:${departments}">
                            <option th:text="${department.getNameAndOperatorName()}" th:value="${department.departmentId}"/>
                        </th:block>
                    </select>
                </label>
            </div>
            <div>
                <label>Operator:
                    <select th:field="*{operator}" class="form-control" required>
                        <th:block th:each="operator:${operators}">
                            <option th:text="${operator.toStringShort()}" th:value="${operator.operatorId}"/>
                        </th:block>
                    </select>
                </label>
            </div>
            <button type="submit" class="button">
                <i class="fas fa-sync"></i> Update
            </button>
        </div>
    </form>
</div>
</body>
</html>