@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

.container-fluid {
    padding-left: 45px !important;
    background-color: #fff;
    padding-right: 45px !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #2c3e50;
}

.container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.nav-custom {
    position: relative;
    margin: 40px auto 0;
    width: 1109px;
    /* height: 50px; */
    background: #34495e;
    border-radius: 8px;
    /* font-size: 0; */
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

.nav-custom a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

.nav-custom .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

.nav-custom a:target {
    background: #1abc9c;
    color: #fff;
}

.nav-custom a:nth-child(1) {
    width: 100px;
}

.nav-custom .start-home, a:nth-child(1):hover ~ .animation {
    width: 100px;
    left: 0;
}

.nav-custom a:nth-child(2) {
    width: 110px;
}

.nav-custom a:nth-child(2):hover ~ .animation {
    width: 110px;
    left: 100px;
}

.nav-custom a:nth-child(3) {
    width: 110px;
}

.nav-custom a:nth-child(3):hover ~ .animation {
    width: 120px;
    left: 210px;
}

.nav-custom a:nth-child(4) {
    width: 110px;
}

.nav-custom a:nth-child(4):hover ~ .animation {
    width: 110px;
    left: 330px;
}

.nav-custom a:nth-child(5) {
    width: 110px;
}

.nav-custom a:nth-child(5):hover ~ .animation {
    width: 100px;
    left: 450px;
}

.nav-custom a:nth-child(6) {
    width: 110px;
}

.nav-custom a:nth-child(6):hover ~ .animation {
    width: 110px;
    left: 560px;
}

.nav-custom a:nth-child(7) {
    width: 110px;
}

.nav-custom a:nth-child(7):hover ~ .animation {
    width: 100px;
    left: 680px;
}

.nav-custom a:nth-child(8) {
    width: 100px
}

.nav-custom a:nth-child(8):hover ~ .animation {
    width: 100px;
    left: 790px
}

.nav-custom a:nth-child(9) {
    width: 110px;
}

.nav-custom a:nth-child(9):hover ~ .animation {
    width: 100px;
    left: 890px;
}

.login-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.login-form h2 {
    color: #34495e;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 14px;
    color: #34495e;
}

input {
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}

button {
    background: #1abc9c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #16a085;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.logout-message {
    background-color: #dff0d8; /* Light green background */
    border: 1px solid #3c763d; /* Dark green border */
    color: #3c763d; /* Dark green text color */
    padding: 15px; /* Padding around the message */
    margin-bottom: 20px; /* Margin at the bottom to separate from other elements */
}

.error-message {
    background-color: #f2dede; /* Light red background */
    border: 1px solid #a94442; /* Dark red border */
    color: #a94442; /* Dark red text color */
    padding: 15px; /* Padding around the message */
    margin-bottom: 20px; /* Margin at the bottom to separate from other elements */
}


th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd; /* Dodana linia graniczna na początku */
    border-right: 1px solid #ddd; /* Dodana linia graniczna na końcu */
}

th:first-child, td:first-child {
    border-left: none; /* Usunięcie linii granicznej dla pierwszej kolumny */
}

th:last-child, td:last-child {
    border-right: none; /* Usunięcie linii granicznej dla ostatniej kolumny */
}

thead {
    background-color: #343a40;
    color: #fff;
}

.btn, .btn-default {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}


/* Styl domyślny dla przycisku */
.btn-default {
    background-color: #fff;
    color: #333;
}

/* Efekt najechania myszą */
.btn:hover, .btn-default:hover {
    background-color: #f0f0f0;
}

/* Efekt aktywacji */
.btn:active, .btn-default:active {
    background-color: #e0e0e0;
}

.btn-success {
    background-color: #28a745;
}

.btn-primary {
    background-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
}


.container {
    margin-top: 20px;
}

.nav-version-2 {
    position: relative;
    margin: 40px auto 0;
    width: 700px;
    /* height: 50px; */
    background: #34495e;
    border-radius: 8px;
    /* font-size: 0; */
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

.nav-version-2 a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

.nav-version-2 .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

.nav-version-2:target {
    background: #1abc9c;
    color: #fff;
}

.nav-version-2 a:target {
    background: #1abc9c;
    color: #fff;
}

.nav-version-2 a:nth-child(1) {
    width: 100px;
}

.nav-version-2 .start-home, .nav-version-2 a:nth-child(1):hover ~ .animation {
    width: 100px;
    left: 0;
}

.nav-version-2:nth-child(2) {
    width: 110px;
}

.nav-version-2:nth-child(2):hover ~ .animation {
    width: 110px;
    left: 100px;
}

.nav-version-2:nth-child(3) {
    width: 110px;
}

.nav-version-2:nth-child(3):hover ~ .animation {
    width: 120px;
    left: 210px;
}

.nav-version-2:nth-child(4) {
    width: 110px;
}

.nav-version-2:nth-child(4):hover ~ .animation {
    width: 120px;
    left: 210px;
}
.nav-custom-2 {
    position: relative;
    margin: 40px auto 0;
    width: 450px;
    /* height: 50px; */
    background: #34495e;
    border-radius: 8px;
    /* font-size: 0; */
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

.nav-custom-2 a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

.nav-custom-2 .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

.nav-custom-2 a:target {
    background: #1abc9c;
    color: #fff;
}

.nav-custom-2 a:nth-child(1) {
    width: 100px;
}

.nav-custom-2 .start-home, a:nth-child(1):hover ~ .animation {
    width: 100px;
    left: 0;
}

.nav-custom-2 a:nth-child(2) {
    width: 110px;
}

.nav-custom-2 a:nth-child(2):hover ~ .animation {
    width: 110px;
    left: 100px;
}

.nav-custom-2 a:nth-child(3) {
    width: 110px;
}

.nav-custom-2 a:nth-child(3):hover ~ .animation {
    width: 120px;
    left: 210px;
}

.nav-custom-2 a:nth-child(4) {
    width: 110px;
}

.nav-custom-2 a:nth-child(4):hover ~ .animation {
    width: 120px;
    left: 330px;
}
.text-center
{
    text-align: center;
    color: white;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}





