<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>List departments</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div>
    <nav class="nav-custom">
        <a th:inline="text">User:
            <b style="text-transform: capitalize">[[${#httpServletRequest.remoteUser}]]</b>
        </a>
        <a th:href="@{/index}">Home</a>
        <a th:href="@{'/'+${role}+'/operators/'}">Operators</a>
        <a th:href="@{'/'+${role}+'/operators/'+${operator.operatorId}+'/departments'}">Departments</a>
        <a th:href="@{'/'+${role}+'/operators/'+${operator.operatorId}+'/employees'}">Employees</a>
        <a th:href="@{'/'+${role}+'/operators/'+${operator.operatorId}+'/senders'}">Senders</a>
        <a th:href="@{'/'+${role}+'/operators/'+${operator.operatorId}+'/customers'}">Customers</a>
        <a th:href="@{'/'+${role}+'/operators/'+${operator.operatorId}+'/offers'}">Services</a>
        <a th:href="@{/logout}" onclick="submitLogoutForm()">Logout</a>
        <div class="animation start-home"></div>
    </nav>
</div>
<div class="container">
    <div><h1>List departments for operator: <span th:text="${operator.toStringShort()}"></span></h1></div>
</div>
<div class="container">
    <div>
        <a th:href="@{'/'+${role}+'/operators/'+${operator.operatorId}+'/department/new/'}"
           sec:authorize="hasAuthority('ADMIN')" class="btn btn-success"><i class="fa fa-plus"></i> Add Department</a>
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr> <!-- Table row -->
            <th>ID</th>
            <th>Name</th>
            <th>phoneNumber</th>
            <th>Action</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <tr th:each="department : ${departments}">
            <td th:text="${department.departmentId}">ID</td>
            <td th:text="${department.name}">Name</td>
            <td th:text="${department.phoneNumber}">phoneNumber</td>
            <td class="col-actions">
                <a th:href="@{'/'+${role}+'/operators/'+${operator.operatorId}+'/department/'+${department.departmentId}}"
                   class="btn btn-default"><i
                        class="fa fa-plus"></i> More info</a>
                <a th:href="@{'/'+${role}+'/operators/'+${operator.operatorId}+'/department/edit/'+${department.departmentId}}"
                   sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary"><i
                        class="fa fa-edit"></i>
                    Edit</a>
                <a th:href="@{'/'+${role}+'/operators/'+${operator.operatorId}+'/department/delete/'+${department.departmentId}}"
                   sec:authorize="hasAuthority('ADMIN')"
                   onclick="return confirm('Are you sure you want to delete operator? This will delete all linked tables');"
                   class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<footer>
    <th:block th:include="fragments/footer :: footer"></th:block>
</footer>
</html>